[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.11.0"
websockets = "==8.1"
psycopg2 = "==2.7.5"
asgiref = "==3.2.10"
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
gunicorn = "==20.0.4"
pytz = "==2020.1"
sqlparse = "==0.3.1"
whitenoise = "==5.1.0"
Django = "==3.1.13"
django-cors-headers = "*"
requests = "*"

[requires]
python_version = "3.7"
