html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}

@keyframes rotate-half-circle-1 {
    form {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-half-circle-2 {
    form {transform: rotate(135deg);}
    to {transform: rotate(495deg);}
}

@keyframes rotate-half-circle-3 {
    form {transform: rotate(45deg);}
    to {transform: rotate(405deg);}
}

.half-circle-1 {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation-name: rotate-half-circle-1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;

}

.half-circle-2 {

    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(135deg);
    animation-name: rotate-half-circle-2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;

    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;

}

.half-circle-3 {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 10px solid black;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
    animation-name: rotate-half-circle-3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;

    top: 50%;
    left: 50%;
    margin: -25px 0px 0px -25px;

}

.container {
    margin: 0;
    width: 100%;
    background-color: palevioletred;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-label {
    margin: 10px;
    font-size: 20px;
}

.form-textarea {
    min-width: 50%;
}

.form-input {
    min-width: 150%;
}

.form-button {
    margin: 15px;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}

.nav-bar {
    width: 100%;
    background-color: aliceblue;
    margin: 0;
    position: fixed;
    top: 0;
    display: inline-flex;

    align-items: center;
    height: 8vh;
    min-height: 60px;
  }

.nav-link {
    padding: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.nav-link-right {
    padding: 20px;
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.element-list {
    text-decoration: none; 
    color: black;
    margin-left: 30px;
    border-radius: 20px;
    width: 100%;
    background-color: antiquewhite;
    margin-top: 1%;
    padding: 20px
}

.message-container {
    padding: 80px;
    display: flex;
    max-height: 100vh;
    width: 50%;
    overflow-y: scroll;
    margin-right: auto;
    margin-left: 5vw;
    scrollbar-width: none;
    flex-direction: column;
    align-items: center;

}

.form-message-container {
    width: 50%;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-list {
    text-decoration: none; 
    color: black;
    margin-left: 30px;
    border-radius: 20px;
    max-width: 80%;
    min-width: 35%;
    background-color: antiquewhite;
    margin-top: 1%;
    padding: 20px
}

.bot-list {
    text-decoration: none; 
    color: black;
    margin-left: 10%;
    border-radius: 20px;
    max-width: 80%;
    min-width: 35%;
    background-color: blueviolet;
    margin-top: 1%;
    padding: 20px
}
