<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="utf-8">
  <title>Detailed View</title>
  <meta name="description" content="Detailed_Template">
  <meta name="author" content="LS_Collab">

  <link rel="stylesheet" href="">

</head>

<body>

    <div style = 'padding: 40px;'>
        <form action="{{request.path}}" method = 'POST'>
            {% csrf_token %}
            <input name = 'message' style = 'margin-right: 20px;'/>
            <button type ='submit'>Send message to all users</button>
        </form>
    </div>

    <div id = 'stats'>
        <div>Number of all messages sent: {{statistics.number_of_messages}}</div>
        <div>Number of all bot usres: {{statistics.number_of_users}}</div>
        <div>Number of messages sent today: {{statistics.today_messages}}</div>
    </div>

    {%for user in users%}
        <a style='text-decoration: none; color: black;' href = '{{request.path}}{{user.user_id}}'>
        <div style = 'margin-left: 30px; border-radius: 20px; width: 10%; background-color: antiquewhite;  margin-top: 1%; padding: 20px'>{{user.first_name}}</div>
        </a>
    {%endfor%}
    
    <script src="{% static 'JS/_base.js' %}"></script>
</body>
</html>