<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
  <meta charset="utf-8">
  <title>Login View</title>
  <meta name="description" content="Login_Template">
  <meta name="author" content="LS_Collab">

  <link rel="stylesheet" href="">

</head>

<body>

    <h1>Login</h1>
    <form method = 'POST'>
    <label id='username'>Username</label><br>
    <input type = 'text' name = 'username'/><br>
    <label id='password'>Password</label><br>
    <input type = 'password' name = 'password'/><br>
    <button type = 'submit'>Submit</button><br>
    </form>
</body>
</html>